/* font-family: 'Montserrat', sans-serif; */

*, *::after, *::before {
    box-sizing: border-box;
}

* { 
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button {
    font: inherit;
    color: inherit;
}

input:focus {
    outline: none;
}

i {
    font-style: normal;
    color: #669EF3;
}

.none {
    display: none !important;
}

.body {
    width: 1920px;
    margin: 0 auto;
    background-color: #161616;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 1920px;
    height: 171px;
    background-color: rgba(27, 27, 27, 0.79);

    display: flex;
    align-items: center;
}

.top {
    background: url(./img/jpg/header-bg.png);

    
    z-index: 10;
    width: 1920px;
    height: 1330px;
}

.header-container {
    width: 1408px;
    margin: 0 auto;

    display: flex;
}
.header-logo {
    margin-right: 233px;
}

.header-nav {
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

.header-nav__item {
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.06em;
}

.intro {
    width: 1920px;
    height: 854px;
    margin: 0 auto;
}

.intro-container {
    width: 432px;
    margin: 0 0 292px 1071px;
    padding-top: 130px;

    letter-spacing: 0.06em;
}

.intro-title {
    line-height: 40.2px;
}

.intro-title__top {
    color: #669EF3;
    font-weight: 900;
    font-size: 40px;
}

.intro-title__bottom {
    color: #fff;
    font-weight: 400;
    font-size: 40px;
}

.intro-adresses {
    margin-top: 10px;
    color: #DCDCDC;
}

.intro__adress {
    font-weight: 300;
    font-size: 20px;
}

.intro__button {
    margin-top: 60px;
}

.intro__button a{
    font-weight: 700;
    font-size: 20px;
    
    color: #fff;
    text-decoration: none;

    padding: 18px 41px 18px 42px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #669EF3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 138px;
}


.aboutus {
    width: 1020px;
    margin: 0 auto 250px;
}

.aboutus-container {
    justify-content: center;
}

.aboutus__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.06em;
    color: #669EF3;

    margin-bottom: 40px;
}

.aboutus__img {
    margin-bottom: 20px;
}

.aboutus__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.665;
    letter-spacing: 0.06em;
    text-align: center;

    color: #fff;
    margin-bottom: 60px;
}

.aboutus-desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 166.5%;
    /* or 33px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    justify-content: space-between;
    padding: 0 15px;
}

.aboutus-desc__left {
    width: 470px;
}
.aboutus-desc__right {
    width: 405px;
}

/* Services */

.services {
    color: #fff;
}

.services-container {
    width: 1466px;
    margin: auto;
}

.services__title {
    font-weight: 700;
    font-size: 40px;

    text-align: center;
    color: #669EF3;

    margin-bottom: 50px;
}

.services-slider {
    height: 846px;
    background: url(./img/jpg/slider-photo.png);
    background-size: cover;
    border-radius: 130px;

}
.slider-content {
    height: 100%;
    padding: 0 50px;

    display: flex;
    align-items: center;
}

/* .slider-arrow-left {
} */

.services-slider-info {
    margin-right: 160px;
    margin-left: 530px;
    text-align: right;
    justify-content: end;
    margin-bottom: 130px;
}

.services-slider__text {
    font-weight: 700;
    font-size: 40px;

    width: 535px;
}
.services-slider__button {
    padding: 14px 52px 14px;
    border: 3px solid #669EF3;
    border-radius: 130px;
    
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.06em;

    margin-top: 60px;
    display: inline-block;
}

/* .slider-arrow-right {

} */

.services__subtitle {
    text-align: center;

    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #DCDCDC;

    margin-top: 60px;
}



/* Trainers */

.trainers {
    width: 1090px;
    margin: 250px auto 0;
    color: #fff;
}

.trainers__title {
    font-weight: 700;
    font-size: 40px;

    text-align: center;
    color: #669EF3;

    margin-bottom: 100px;
}

.trainer-card {
    margin-bottom: 135px;
    width: 100%;

    display: flex;
}

/* .trainer__photo {

} */

.trainer-info {
    width: 400px;
    justify-content: center;
    margin: auto;
}

.trainer__name {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.06em;

    margin-bottom: 40px;
}

.trainer__deserts {
    margin-bottom: 1em;

    font-weight: 300;
    font-size: 20px;
    line-height: 165.5%;

    letter-spacing: 0.06em;
}

.trainer__exp {
    margin-bottom: 1em;

    font-weight: 300;
    font-size: 20px;
    line-height: 165.5%;

    letter-spacing: 0.06em;
}

.trainer__desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 165.5%;

    letter-spacing: 0.06em;

}

.photo--tat {
    margin-left: 50px;
}


/* Timetable */



.timetable {
    width: 900px;
    margin: 280px auto 0;
    color: #fff;
}

.timetable-title {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.06em;
    line-height: 1.37;
}

.timetable__text {
    color: #669EF3;
    margin-right: 20px;
}

.timetable-title p {
    margin-left: 20px;
    padding-top: 10px;
}

.timetable__trainerchoice {
    padding-top: 10px;
}

.timetable--active {
    text-decoration: underline;
    text-decoration-color: #669EF3;
    text-decoration-thickness: 6px;
    text-underline-offset: 10px;
}

.timetable__table {
    width: 800px;
    text-align: center;
    margin: auto;

    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.06em;

    border-spacing: 0px;
}

.timetable__table tr {
    height: 150px;
}

.timetable__table td {
    border-bottom: 2px solid #FFFFFF;
}

.timetable__table tr:last-child td {
    border: 0;
}

/* Registration */

.registration {
    width: 1253px;
    margin: 250px auto 0;
    background: rgba(0, 0, 0, 0.22);
    border-radius: 130px;
    height: 365px;
}

.registration-form {
    padding: 84px 59px 55px;
}

.registration-form-top {
    display: flex;
    width: 1135px;
}

.registration-form__title {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.1em;
    width: 545px;
    margin-right: 110px;
}

.registration-form-inputs {
    display: inline-flex;
    flex-direction: column;
}

.registration-form-input-top input{
    width: 523px;
    margin-bottom: 15px;
}

.registration-form-input-bottom {
    display: flex;
    justify-content: space-between;
}

.registration-form-input {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    padding: 18px 15px 18px 35px;

    border-radius: 130px;
    display: inline-block;
    width: 245px;
}

.registration-form-bottom {
    display: flex;
    justify-content: space-between;
}

.registration-form-agree {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.41);    
    letter-spacing: 0.1em;

    margin-top: 60px;
}

.registration-form__button {
    color: #fff;
    text-align: center;
    
    background: #669EF3;
    padding: 13px 55px;
    border-radius: 130px;

    margin-top: 30px;
    box-shadow: 0px 1px 33px 9px #669EF3;
}

.registration-form__button a {
    font-weight: 700;
    font-size: 25px;
    line-height: 47px;
}

.moveup {
    max-width: 1920px;
    display: flex;
    justify-content: end;
    margin: 180px 80px 55px 0;
}

/* Footer */

.footer {
    width: 100%;
    height: 343px;
    margin: auto;

    background: #737373;
    display: flex;
}

.footer-content {
    padding-top: 30px;
    height: 182px;
    width: 880px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
}


.footer-contacts__phone {
    font-weight: 800;
    font-size: 38px;
    letter-spacing: 0.1em;
    text-align: center;

    text-decoration: underline;
    text-decoration-color: #669EF3;
    text-decoration-thickness: 6px;
    text-underline-offset: 10px;

    margin-bottom: 20px;
}

.footer-contacts__address {
    width: 270px;

    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.1em;
}

.footer-nav {
    display: inline-flex;
    flex-direction: column;
}

.footer-nav__link {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.06em;
    margin-bottom: 1em;
}
