*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    width: 1400px;

}

.container {
    width: 1170px;
    margin: 0 auto;
}

.none {
    display: none;
}